.root {
  background-color: #85FFBD;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  .wrapper{
    height: 70vh;
    width: 70vw;
    border-radius: 10px;

  }
}